@import url(./header.css);
@import url(./options.css);
@import url(./advantage.css);
@import url(./achievements.css);
@import url(./starting.css);
@import url(./self-entry.css);
@import url(./purpule-wrapper.css);
@import url(./organization.css);
@import url(./feedback.css);
@import url(./form.css);
@import url(./footer.css);

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
